<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rightText</key>
	<string>This is the right text box.  The amount of text that you can see is controlled by the slider above!  that&apos;s awesome.  blaa blaa blaaa blaaa</string>
	<key>centerText</key>
	<string>This is some text that started out in the center!  neat!</string>
	<key>leftText</key>
	<string>This is some text that started out on the left!  wow, that&apos;s so cool.</string>
	<key>sliderText</key>
	<string>Show more or less text in the right text box</string>
	<key>buttonText</key>
	<string>Swap the text between the left and center text box</string>
</dict>
</plist>
